/bin
/build
/gradle
/.classpath
/.project
/build.gradle
/CREDITS-fml.txt
/forge-1.7.10-10.13.0.1180-changelog.txt
/gradlew
/gradlew.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/.gradle
/.settings
/eclipse/.metadata
/eclipse/asm
/eclipse/logs
/eclipse/resourcepacks
/eclipse/saves
/eclipse/options.txt

/src/main/java/assets/customcraft/textures/blocks/nomad/Thumbs.db

/.metadata/.lock
/.metadata/.mylyn/.taskListIndex/segments.gen
/.metadata/.mylyn/.taskListIndex/segments_1
/.metadata/.mylyn/repositories.xml.zip
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.4.0.20130601-0317.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/version.ini
/eclipse/crash-reports/crash-2014-07-28_13.55.35-client.txt
/eclipse/crash-reports/crash-2014-07-28_13.58.49-server.txt
/eclipse/crash-reports/crash-2014-07-28_14.27.33-server.txt
/eclipse/crash-reports/crash-2014-07-28_14.32.00-server.txt
/eclipse/crash-reports/crash-2014-07-29_10.39.16-client.txt
/eclipse/crash-reports/crash-2014-07-29_14.20.23-client.txt
/eclipse/crash-reports/crash-2014-07-29_14.42.11-server.txt
/eclipse/crash-reports/crash-2014-07-29_14.43.28-server.txt
/eclipse/crash-reports/crash-2014-07-29_14.49.28-server.txt
/eclipse/crash-reports/crash-2014-07-29_14.51.00-client.txt
/eclipse/crash-reports/crash-2014-07-29_14.53.08-server.txt
/eclipse/crash-reports/crash-2014-07-31_10.47.11-client.txt
/eclipse/crash-reports/crash-2014-07-31_11.13.54-client.txt
/eclipse/crash-reports/crash-2014-07-31_13.34.05-client.txt
/eclipse/crash-reports/crash-2014-07-31_13.35.17-client.txt
/eclipse/crash-reports/crash-2014-07-31_13.37.05-client.txt
/eclipse/crash-reports/crash-2014-07-31_13.55.08-client.txt
/eclipse/crash-reports/crash-2014-07-31_15.31.09-server.txt
/eclipse/crash-reports/crash-2014-07-31_15.31.12-client.txt
/eclipse/crash-reports/crash-2014-08-01_10.57.53-client.txt
/eclipse/hs_err_pid3100.log
/eclipse/hs_err_pid3660.log
/eclipse/hs_err_pid4424.log
/eclipse/hs_err_pid476.log
/eclipse/hs_err_pid5824.log
/eclipse/hs_err_pid588.log
